<!--<h1>A checklist</h1>

<div *ngFor="let item of items">
  <input type="checkbox" [(ngModel)]="item.checked">
  <span
    [style.textDecoration]="item.checked?'line-through':'none'">
    {{item.description}}
  </span>
  <button (click)="removeItem(item)">Delete</button>
</div>

<hr>

-->
<!--
<input #desc type='text'>
<button (click)="search(desc.value); desc.value=''">Search</button>

<p  *ngFor="let book of books"> {{ book }}</p>

-->


<section class="container-app">
    <input class="input-text" #descrip type="text" placeholder="Text about your future">
    <button (click)="add(descrip.value); descrip.value=''">Add</button>
    <section class="app">
      <section class="toDo">
        <h1 class="title-app">To do</h1>

        <item class="toDo-item" (addDone)="done($event)" *ngFor="let item of items" [item]="item" (remove)="removeItem(item)"></item>
      
      </section>  

    </section>
    
    <section class="app">
      <section class="toDo">
        <h1 class="title-app">Done</h1>

        <item class="toDo-item"  (addToDo)="addItems($event)" *ngFor="let item of itemsDone" [item]="item" (remove)="removeItemDone(item)"></item>
        
      </section>  

    </section>
    
    
  </section>

